* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --main-color:#f54900;
    --bg-color:#ff6600;
    --radius-color:#ffedd4;
}

.main-heading span {
    color: var(--main-color);
}

h1 span {
    color: var(--main-color);
}

.main-btn {
    background-color: var(--main-color);
    color: white;
    border: none;
    transition: 0.3s ease;
}

.main-btn:hover {
    background-color: #e44400;
}

a {
    transition: 0.3s ease;
}

a:hover {
    color: var(--main-color) !important;
}

.social-icons i {
    cursor: pointer;
    transition: 0.3s;
}

.social-icons i:hover {
    color: #ff6a00;
}


.secondry-btn {
    border: 1px solid var(--main-color);
    color: var(--main-color);
    transition: 0.3s ease;
}

.secondry-btn:hover {
    background-color: var(--radius-color);
}

.hero-buttons .main-btn,
.hero-buttons .secondry-btn {
    width: auto;
}


.badge-rate {
    background-color: var(--radius-color);
    color: #000;
    padding: 8px 16px;
    border-radius: 30px;
    font-size: 14px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

.hero-img {
    border-radius: 24px;
    max-width: 100%;
}

.chef-card {
    position: absolute;
    bottom: -20px;
    left: 20px;
    background: #fff;
    padding: 15px 20px;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    gap: 10px;
}

.chef-avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: var(--radius-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.card img {
    height: 220px;
    object-fit: cover;
    transition: 0.3s ease;
}

.card {
    transition: 0.3s ease;
}

.card:hover {
    transform: translateY(-6px) scale(1.05);
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--main-color);
    transition: 0.3s;
}

.icon:hover {
    background-color: var(--bg-color);
}

.icon-box {
    width: 70px;
    height: 70px;
    background-color: #fff2ea;
    color: #f54900;
    border-radius: 50%;
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.cta-section {
    background-color: var(--bg-color);
}

.text-orange {
    color: var(--main-color);
}
.footer {
    background-color: #0f172a;
}